package templates

templ Footer() {
    <footer>
        <div class="links">
            <a href="/inspections">Посмотреть все отчеты</a>
            <a href="/upload.html">Загрузить новый отчет</a>
        </div>
        <div class="links">
            <a href="https://github.com/domsnail/doctryne">Github</a>
        </div>
    </footer>
}

