package templates

templ GlobalStyles() {
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@4.0.0-beta5"
            integrity="sha384-5dnhUXCt1hXGvYrjAnKwgNX3I8xtIJiW6eIHIbeo7oWyXv2XpWYC/rl+ZiWfuYO5"
            crossorigin="anonymous">
    </script>
    <link rel="stylesheet" href="/styles/root.css">
    <link rel="stylesheet" href="/styles/upload.css">
}