package templates

templ GlobalStyles() {
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@4.0.0-beta5"
            integrity="sha384-5dnhUXCt1hXGvYrjAnKwgNX3I8xtIJiW6eIHIbeo7oWyXv2XpWYC/rl+ZiWfuYO5"
            crossorigin="anonymous">
    </script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="/styles/root.css">
    <link rel="stylesheet" href="/styles/tables.css">
    <link rel="stylesheet" href="/styles/components/upload.css">
    <link rel="stylesheet" href="/styles/components/inspections.css">
    <link rel="stylesheet" href="/styles/components/developers.css">
}