.inspections-page, .inspection-page {
    padding: 4vh 2vw;
    margin-bottom: 10vh;

    width: 100vw;
    max-width: 1600px;
}

.inspections-page {
    ul {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        padding: 2rem 0;
        list-style: none;

        li {
            display: flex;
            flex-direction: column;
            gap: 5px;

            background-color: #f6f4ff;
            border: 1px solid #303030;
            padding: 10px 1rem 0.5rem 1rem;

            border-radius: 0.5rem;
            box-shadow: 0 0 16px 4px rgba(34, 60, 80, 0.3);

            p {
                font-size: 0.75rem;
            }
        }
    }
}

.inspection-page {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 8px;
}

h1, h2 {
    margin-bottom: 1rem;
}

table {
    width: 100%;
}

.info {
    grid-row: span 2;
    padding-bottom: 0.5rem;
}

.manifests-data {
    grid-column: span 2 / span 2;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 4px
}

.metadata {
    grid-column-start: 4;
}

.stats {
    grid-column: span 3 / span 3;
    grid-column-start: 2;
    grid-row-start: 2;
}

.developer-stats {
    grid-column-start: 4;
    grid-row-start: 3;
}

.violations {
    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
    grid-column-start: 2;
    grid-row-start: 3;
}

.packages-stats {
    grid-column-start: 4;
    grid-row-start: 4;
}

.packages {
    grid-column: span 3 / span 3;
    grid-column-start: 2;
    grid-row-start: 5;
}

.developers {
    grid-column: span 3 / span 3;
    grid-column-start: 2;
    grid-row-start: 6;
}

.repositories {
    grid-column: span 3 / span 3;
    grid-column-start: 2;
    grid-row-start: 7;
}

.additional-info {
    grid-column: span 4 / span 4;
    grid-row-start: 8;
}

.developer-card {
    display: flex;
    flex-direction: row;
    gap: 5px;
}