text, h1, h2, h3, h4, p, label, details, summary, li {
    font-family: Roboto, sans-serif;
    margin: 0;
}

summary {
    cursor: pointer;
}

p.hint {
    opacity: 0.75;
}

label {
    font-size: 0.75rem;
}

body {
    background-color: #dbe1ff;
    padding: 0;
    margin: 0;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

table {
    font-family: Roboto, sans-serif;
    margin: 0;
}

footer {
    display: grid;
    padding: 2vh 0;

    grid-template-columns: repeat(3, 20vw);
    grid-template-rows: repeat(3, 1fr);

    gap: 8px;

    .links {
        display: flex;
        flex-direction: column;
    }
}

.page-content {
    display: flex;
    width: 100vw;

    #search-filter {
        width: 20vw;

        form {
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            label {
                margin-top: 0.5rem;
            }

            button {
                margin-top: 1rem;
            }
        }
    }
}

.manifest-upload-page {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

ul.labels {
    padding: 0;
    list-style: none;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    li {
        padding: 4px;

        border-radius: 4px;
        border: 1px solid #303030;

        &.danger {
            background-color: #FF3636FF;
            color: whitesmoke;
        }
    }
}

div.grid-item {
    position: relative;

    background-color: #f6f4ff;
    border: 1px solid #303030;
    padding: 10px 1rem;

    min-width: 200px;
    min-height: 2rem;

    border-radius: 0.5rem;
    box-shadow: 0 0 16px 4px rgba(34, 60, 80, 0.3);

    div.grid-icons {
        position: absolute;

        top: 0.5rem;
        right: 0.6rem;

        i {
            &:hover {
                cursor: pointer;
            }
        }
    }
}

span.empty-placeholder {
    margin-top: 0.5rem;

    opacity: 0.75;
    width: 100%;
}

.light-border {
    padding: 2vh 1vw;

    border-radius: 15px;
    border: 1px solid darkslateblue;
}

.htmx-indicator {
    opacity: 0;
    visibility: hidden;
}

.htmx-request .htmx-indicator,
.htmx-request.htmx-indicator {
    opacity: 1;
    visibility: visible;
    transition: opacity 200ms ease-in;
}