text, h1, h2, h3, h4, p, label {
    font-family: Roboto, sans-serif;
    margin: 0;
}

p.hint {
    opacity: 0.75;
}

label {
    font-size: 0.75rem;
}

body {
    background-color: #dbe1ff;
    padding: 0;
    margin: 0;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

table {
    font-family: Roboto, sans-serif;
    margin: 0;
}

footer {
    display: grid;
    padding: 2vh 0;

    grid-template-columns: repeat(3, 20vw);
    grid-template-rows: repeat(3, 1fr);

    gap: 8px;
}

.page-content {
    display: flex;
    flex-direction: row;

    height: 100vh;
    width: 100vw;

    #search-filter {
        width: 20vw;

        form {
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            label {
                margin-top: 0.5rem;
            }

            button {
                margin-top: 1rem;
            }
        }
    }
}

.manifest-upload-page {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.light-border {
    padding: 2vh 1vw;

    border-radius: 15px;
    border: 1px solid darkslateblue;
}

.htmx-indicator {
    opacity: 0;
    visibility: hidden;
}

.htmx-request .htmx-indicator,
.htmx-request.htmx-indicator {
    opacity: 1;
    visibility: visible;
    transition: opacity 200ms ease-in;
}